XTerm*faceName: Droid Sans Mono
XTerm*faceSize: 10
XTerm*borderWidth: 0
*VT100.colorBDMode:     true
*VT100.colorBD:         red
*VT100.colorULMode:     true
*VT100.colorUL:         cyan
*VT100.veryBoldColors: 6
